In [89]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import os

In [90]:
IDIR = os.path.abspath('../data')
print('loading newpriors')
newpriors = pd.read_csv(os.path.join(IDIR,'newpriors.csv'), dtype={
            'order_id': np.int32,
            'product_id': np.uint16,
            'add_to_cart_order': np.int16,
            'reordered': np.int8,
            'user_id' : np.int32,
            'eval_set' : 'category',
            'order_number': np.int16,
            'order_dow': np.int8,
            'order_hour_of_day': np.int8,
            'days_since_prior_order': np.float32})

loading newpriors

In [91]:
newpriors.head(10)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0
5,2,17794,6,1,202279,prior,3,5,9,8.0
6,2,40141,7,1,202279,prior,3,5,9,8.0
7,2,1819,8,1,202279,prior,3,5,9,8.0
8,2,43668,9,0,202279,prior,3,5,9,8.0
9,3,33754,1,1,205970,prior,16,5,17,12.0

In [92]:
userXproduct = pd.DataFrame()

In [93]:
userXproduct['UP_num_item'] = newpriors.groupby(['user_id', 'product_id']).size().astype(np.int8) 
#user가 이 product를 구입한 횟수

In [94]:
userXproduct['UP_first_order'] = newpriors.groupby(['user_id', 'product_id']).order_number.min().astype(np.int8)
#user가 이 product를 처음으로 구입했을 때

In [95]:
userXproduct['UP_last_order'] = newpriors.groupby(['user_id', 'product_id']).order_number.max().astype(np.int8)
#user가 이 product를 마지막으로 구입했을 때

In [96]:
userXproduct['UP_sum_add_cart'] = newpriors.groupby(['user_id', 'product_id']).add_to_cart_order.sum().astype(np.int16)
#user가 그 product를 cart에 담은 순서 합

In [97]:
userXproduct.reset_index(['user_id','product_id'], inplace = True)

In [98]:
del newpriors

In [99]:
print('loading users')
users = pd.read_csv(os.path.join(IDIR,'users.csv'), dtype={
            'average_days_between_orders': np.float32,
            'user_num_orders': np.int16,
            'total_num_items': np.int16,
            'distinct_num_items' : np.int16,
            'average_basket' : np.float32})

loading users

In [100]:
users[['user_num_orders', 'user_id']]

        user_num_orders  user_id
0                    10        1
1                    14        2
2                    12        3
3                     5        4
4                     4        5
5                     3        6
6                    20        7
7                     3        8
8                     3        9
9                     5       10
10                    7       11
11                    5       12
12                   12       13
13                   13       14
14                   22       15
15                    6       16
16                   40       17
17                    6       18
18                    9       19
19                    4       20
20                   33       21
21                   15       22
22                    4       23
23                   18       24
24                    3       25
25                   12       26
26                   81       27
27                   24       28
28                   18       29
29                    8       30
...                 ...      ...
206179               18   206180
206180               14   206181
206181               10   206182
206182               14   206183
206183                4   206184
206184               10   206185
206185                3   206186
206186               34   206187
206187                7   206188
206188                6   206189
206189                8   206190
206190                5   206191
206191               14   206192
206192               41   206193
206193               11   206194
206194               19   206195
206195                4   206196
206196               23   206197
206197                7   206198
206198               19   206199
206199               23   206200
206200               32   206201
206201               22   206202
206202                5   206203
206203                4   206204
206204                3   206205
206205               67   206206
206206               16   206207
206207               49   206208
206208               13   206209

[206209 rows x 2 columns]

In [101]:
userXproduct = userXproduct.merge(users[['user_num_orders', 'user_id']], on='user_id')

In [86]:
# users = users.set_index('user_id')
# userXproduct = userXproduct.join(users[['user_num_orders']], on='user_id')

In [109]:
userXproduct['UP_frequency'] = userXproduct.UP_num_item / userXproduct.user_num_orders
userXproduct['UP_average_add_cart'] = userXproduct.UP_sum_add_cart / userXproduct.UP_num_item

In [110]:
userXproduct.head(10)

,user_id,product_id,UP_num_item,UP_first_order,UP_last_order,UP_sum_add_cart,user_num_orders,UP_frequency,UP_average_add_cart
0,1,196,10,1,10,14,10,1.0,1.400000
1,1,10258,9,2,10,30,10,0.9,3.333333
2,1,10326,1,5,5,5,10,0.1,5.000000
3,1,12427,10,1,10,33,10,1.0,3.300000
4,1,13032,3,2,10,19,10,0.3,6.333333
5,1,13176,2,2,5,12,10,0.2,6.000000
6,1,14084,1,1,1,2,10,0.1,2.000000
7,1,17122,1,5,5,6,10,0.1,6.000000
8,1,25133,8,3,10,32,10,0.8,4.000000
9,1,26088,2,1,2,9,10,0.2,4.500000

In [ ]:
userXproduct.to_csv(os.path.join(IDIR, 'userXproduct'), index = False)